@{
    ViewData["Title"] = "Home Page";
}
<style>
    .center {
        text-align: center;
    }
    .right{
        float:right;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="https://localhost:44374/Book" style="float: left;">Visit Book Index</a>
<div class="center">
    <a href="https://localhost:44374/Student" style="text-align:center">Visit Student Index</a>
    <a href="https://localhost:44374/Allocation" style="float: right; ">Visit Allocation Index</a>
</div>
